html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

/* button Nabídka pobytů barva: 187A7Ab, 008080	
button "O nás" barva: 28CCCC, 48D1CC
*/

body{margin-left: 50px;
margin-right: 50px;}

.menu {
  margin-right: 25px;
}

.menu__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.button{
  border: 1px solid white;
  border-radius: 8px;
  background-color: #48D1CC;
  color:white;
  padding: 10px;
  text-decoration: none;
  word-break:keep-all;
}

/*#button_offer {background-color: #008080;}*/

.menu__item:first-child a {background-color: #008080;}


h1 {
  color: #48D1CC;
  font-size: 35px;
  margin-top: 80px;
}

.about__content{text-align: center;}

.about__content p{text-align: justify;}

.about__content h1 {
  text-align: center;
  margin-bottom: 16px;
}
.about__content h2 {
  text-align: center;
  margin-top: 0px;
}

header {
  display: flex;
  justify-content: space-between;
}

.homepage {
  max-width: 80%;
  align-self: center;
}

.header__logo {
  border: 1px solid white;
  align-items: stretch;
  display: flex;
  align-items: stretch;
}

.header__logo .header__logock {
  width: 35px;
  margin-right: 5px;
}

/* písmo Trade Winds*/
.header__titleck {
  font-family: "Arial Narrow", Arial, sans-serif;
}

.retreaty img{width: 35px;
  border-radius: 55%;
}


.tenerife{  
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: -3px 0 5px grey;
  margin-bottom: 10px;
}


.portugalsko{  
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: -3px 0 5px grey;
  margin-bottom: 10px;
}

.albanie{  
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: -3px 0 5px grey;
  margin-bottom: 10px;}

.container{


}


footer {text-align: center;}

/*media screen od xx px menu display: row*/
@media screen and (min-width: 640px) {
.menu__list {
    flex-direction: row;
    gap: 10px;
  }
}

@media screen and (min-width: 640px) {
  .retreaty {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
    }
  }