<!DOCTYPE html>
<html lang="cs">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>

	<!-- Google Fonts: Raleway 400, Open Sans 400(i)/700(i) -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link
		href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway&display=swap"
		rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	
		<header class="header">
			<div class="header__left">
				<div class="header__logo">					
					<a href="/index.html"><img class=logo src="/images/Logo Namaste travels.png"></a>
					<div class="header__titleck">Namasté<br>travels</div>
				</div>
			</div>

			<div class="header__right">
			<nav class="menu">
			<input type="checkbox" class="menu__checkbox" id="menu-checkbox">
			<label for="menu-checkbox" class="menu__toggler">Nabídka pobytů ▼</label>
			<ul class="menu__retreats">
				<li class="menu__link"><a class="menu__button" href="/albanie/">Albánie</a></li>
				<li class="menu__link"><a class="menu__button" href="/bali/">Bali</a></li>
				<li class="menu__link"><a class="menu__button" href="/portugalsko/">Portugalsko</a></li>	
				<li class="menu__link"><a class="menu__button" href="/tenerife/">Tenerife</a></li>	
			</ul>
			<ul class="menu__list">
					<li class="menu__item"><a class="button" href="/o-nas">O nás</a></li>
					<li class="menu__item"><a class="button" href="/kontakt">Kontakty</a></li>
			</ul>
			</nav>
			</div>
		</header>

		<main class="main">

        
{{ content | safe }}

		</main>
	 	</div>

<div class="about__retreats">
					<h2>Nadcházející retreaty ♡</h2>
					<p>Malá ochutnávka kam se s námi můžete letos vydat: </p>
				</div>

				
				<div class="retreaty">
					<a class="redirection" href="/tenerife/">
					<div class="tenerife">
						<h3>Fantastické Tenerife</h3>
						<div class="container">
						<img src="/images/Damien.jpg" alt="trenér Damien">
						<h4>Damien</h4>
						<p>poznejte s námi tento kouzelný ostrov</p>
						</div>
					</div></a>
				
					<a class="redirection" href="/portugalsko/">
					<div class="portugalsko">
						<h3>Okouzlující Portugalsko</h3>
						<div class="container">
						<img src="/images/Terka.jpg" alt="trenérka Terka">
						<h4>Terka</h4>
						<p>s jógou až na samý konec Evropy</p></div>
					</div></a>

					<a class="redirection" href="/albanie/">
					<div class="albanie">
						<h3>Zázračná Albánie</h3>
						<div class="container">
						<img src="/images/Janka.jpg" alt="trenérka Janka">
						<h4>Janka</h4>
						<p>jóga a poznání neznámého Balkánu</p></div>
					</div></a>

				</div>
			</section>
		
		

		<footer>
			Namasté travels &copy;2024
		</footer>
</body>

</html>